<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список абонентов</title>
      <link rel="stylesheet" href="../style/list.css">    
</head>
<body>
    <main>
      <% i=editAbonent.userName.split(' ') %>
        <h1>Редактировать абонента</h1>
        <form method="POST" action='/abonentList/<%= editAbonent.phone %>' name="">
            <div class="main-info">
              <label>Номер телефона:</label>
              <input type="number" id="phone" name="phone" value="<%= editAbonent.phone %>" required />
              <label>Фамилия:</label>
              <input type="text" name="last_name" value="<%= i[0] %>" required />
              <label>Имя:</label>
              <input type="text" name="first_name" value="<%= i[1] %>" required />
              <label>Отчество:</label>
              <input type="text" name="fathers_name" value="<%= i[2] %>" required />
              <label>Домашний адрес:</label>
              <textarea rows='3' maxlength="200" name="home_address" value="<%= editAbonent.homeAddress %>" placeholder="Максимум 200 символов..."></textarea>  
            </div>
            <div class="controll_but">
              <input class="button-3" type="submit" name='add-record' value="Обновить">
              <input class="button-4" type="button" name='back' value="Отмена"  onclick="history.back(-1)">
            </div>
          </form>
    </main>
</body>
</html>